---
interface Props {
  residence: {
    image: string;
    title: string;
    sub_title: string;
    location: string;
    type: string;
    description: string;
    details: string[];
    delivery: string;
  };
}

const { residence } = Astro.props;
---

<article class="residence-card">
  <img src={residence.image} alt={residence.title} class="residence-image" />

  <div class="residence-content">
    <h3>
      {residence.title}
      {residence.sub_title && <span> {residence.sub_title}</span>}
    </h3>
    <p class="eyebrow">{residence.location}</p>

    <div set:html={residence.description} />

    <p class="delivery">{residence.delivery}</p>
    <a class="button button-dark center-button" href="#contact"
      >Join the Interest List</a
    >
  </div>
</article>
